#all,#line,#matrix,#longest,#knapsack
{
  color: #fff;
}

.jumbotron{

  background-color: #202020;
}
body
{
  background-color: #000000;
}

h1
{
  color: #646464;
}

.jumbotron input{
  background-color: #a3a3a3;
}
